header {
  background-color: white;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 100px;
  font-weight: bold;
}

ul {
  margin: 0 25px;
  padding: 0;
}
