.navbar-active {
  font-weight: bold;
  text-decoration: none;
  color: #cc7a00;
}

.navbar-inactive {
  text-decoration: none;
  color: white;
}

.navbar-inactive:hover {
  color: #ff9800;
}

.sign-out-active {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.sign-out-inactive {
  text-decoration: none;
  color: white;
}

.sign-out-active:hover,
.sign-out-inactive:hover {
  color: #ff9800;
}
