.navbar-active {
  font-weight: bold;
  text-decoration: none;
  color: #7300e6;
}

.navbar-inactive {
  text-decoration: none;
  color: white;
}

.navbar-inactive:hover {
  color: #8c1aff;
}

.sign-out-active {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.sign-out-inactive {
  text-decoration: none;
  color: white;
}

.sign-out-active:hover,
.sign-out-inactive:hover {
  color: #8c1aff;
}
