.filters-container {
  text-align: center;
}

.filters-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: black;
}

.clear-filters {
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-color: #c0c0c0;
  color: black;
  cursor: pointer;
}
