.filters-container {
  text-align: center;
}

.filters-title {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.clear-filters {
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  background-color: #c0c0c0;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
