.random-character-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}

.random-green {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  background-color: green;
  box-shadow: 0 0 0 0 green;
  animation: pulse-alive 1s infinite;
}

@keyframes pulse-alive {
  100% {
    box-shadow: 0 0 0 3px darkgreen;
  }
}

.random-red {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 0 0 red;
  animation: pulse-dead 1s infinite;
}

@keyframes pulse-dead {
  100% {
    box-shadow: 0 0 0 3px darkred;
  }
}

.random-gray {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0 0 0 0 gray;
  animation: pulse-unknown 1s infinite;
}

@keyframes pulse-unknown {
  100% {
    box-shadow: 0 0 0 3px darkgray;
  }
}

.footer-active {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #7300e6;
}

.footer-inactive {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.footer-inactive:hover {
  color: #8c1aff;
}

@media (max-width: 900px) {
  .random-character-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
