.subheader-location-name,
.subheader-location-dimension,
.subheader-location-type {
  text-align: center;
}

.location-name {
  color: #7300e6;
}

.select-and-characters {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px;
}

.select {
  width: 25%;
}

.character-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 250px));
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}
