.location-btn {
  width: 250px;
  margin: 5px;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.location-btn:hover {
  background-color: #f08d49;
  color: white;
  transform: scaleX(1.1);
  box-shadow: 1px 1px 5px #999;
}

li {
  list-style-type: none;
}

.location-link {
  text-decoration: none;
}
