.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.prev-btn {
  margin-right: 10px;
}

.break {
  cursor: pointer;
}

.next-btn {
  margin-left: 10px;
}

.prev-btn a,
.next-btn a {
  padding: 10px 15px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #7300e6;
  cursor: pointer;
}

.prev-btn a:hover,
.next-btn a:hover {
  background-color: #8c1aff;
}

.page-link {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  color: black;
  background-color: #c8c8c8;
  cursor: pointer;
}

.page-link:hover {
  background-color: #d8d8d8;
}

.page-active-link {
  color: white;
  background-color: #7300e6;
}

.page-active-link:hover {
  background-color: #8c1aff;
}
