.pagination {
  gap: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  padding: 10px 15px;
  background-color: #7300e6;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #8c1aff;
}

.page-link {
  display: inline-block;
  background-color: #c8c8c8;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #d8d8d8;
}

.page-active-link {
  background-color: #7300e6;
  color: white;
}

.page-active-link:hover {
  background-color: #8c1aff;
}
