.character-details {
  background-color: #c0c0c0;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #000;
}

.character-image {
  width: 100%;
}

.character-info {
  margin: 25px 25px 0 25px;
  text-align: center;
  font-weight: bold;
}

.character-name {
  margin-bottom: 10px;
  font-size: 25px;
}

.character-link {
  color: #3c3e44;
  text-decoration: none;
}

.character-link:hover {
  color: #8c1aff;
}

.character-species,
.character-gender,
.character-origin,
.character-location {
  margin: 10px;
}

.last-known-location,
.first-seen-in {
  color: #3c3e44;
}

.green {
  height: 25px;
  width: 100%;
  background-color: green;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.red {
  height: 25px;
  width: 100%;
  background-color: red;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.gray {
  height: 25px;
  width: 100%;
  background-color: darkgray;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
