.character-image {
  width: 100%;
}

.green {
  height: 35px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkgreen;
}

.red {
  height: 35px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkred;
}

.gray {
  height: 35px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkgray;
}
