.active-no-account {
  font-weight: bold;
  text-decoration: none;
  color: #cc7a00;
}

.inactive-no-account {
  text-decoration: none;
  color: white;
}

.inactive-no-account:hover {
  color: #ff9800;
}
