.active-no-account {
  color: #7300e6;
  text-decoration: none;
  font-weight: bold;
}

.inactive-no-account {
  color: white;
  text-decoration: none;
}

.inactive-no-account:hover {
  color: #8c1aff;
}
