.cart-item {
  background-color: #efefef;
  color: black;
  margin-bottom: 10px;
  padding: 20px 25px;
  border: 1px solid #999;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product,
.cart-price {
  font-weight: bold;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: #4b0082;
  color: white;
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: translate(1px, 1px);
}
