.static-character-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40%;
}

.static-green {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 0 0 green;
  animation: pulse-alive 1s infinite;
}

@keyframes pulse-alive {
  100% {
    box-shadow: 0 0 0 3px darkgreen;
  }
}

.static-red {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 0 0 red;
  animation: pulse-dead 1s infinite;
}

@keyframes pulse-dead {
  100% {
    box-shadow: 0 0 0 3px darkred;
  }
}

.static-gray {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 0 0 gray;
  animation: pulse-unknown 1s infinite;
}

@keyframes pulse-unknown {
  100% {
    box-shadow: 0 0 0 3px darkgray;
  }
}
