.header-homepage {
  height: 75px;
  background-color: rgba(79, 153, 180, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo,
.links {
  margin: 0 50px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 25px;
  font-size: 15px;
  font-weight: bold;
}

.align-icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#link {
  text-decoration: none;
}
